<div class="container">
    <div class="center">
        <h1>Webbutveckling - Ramschema</h1>
        <form>
            <label for="srchInput"><strong>Sök:</strong></label><br>
            <input type="text" id="srchInput" name="searchWord" placeholder="Sök efter kurskod eller kursnamn" [(ngModel)]="searchWord" (ngModelChange)="filterCourses()">
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <td (click)="sortCourses('code')">Kurskod</td>
                <td (click)="sortCourses('coursename')">Kursnamn</td>
                <td (click)="sortCourses('progression')">Progression</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of filteredCourses">
            <td>{{ course.code}}</td>
            <td><a href="{{course.syllabus}}" target="_blank">{{ course.coursename }}</a></td>
            <td>{{ course.progression}}</td>
            </tr>
        </tbody>
    </table>
</div>